.login-page {
  text-align: center;
  margin-top: 50px;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 200px;
  height: 100px;
  background-image: url("/public/Image/coupangLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.login-options {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.login-option {
  padding: 15px 30px;
  font-size: 16px;
  background-color: #f8f8f8;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-option:hover {
  background-color: #0061f2;
  color: white;
}
