.top-bar {
  display: flex;
  justify-content: space-between; /* 왼쪽과 오른쪽을 양 끝에 배치 */
  align-items: center;  /* 수직 중앙 정렬 */
  padding: 10px 20px;
  background-color: #f8f8f8;
}

.left {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  gap: 20px; /* 버튼 간격 */
}

.right {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  gap: 20px; /* 버튼 간격 */
}

button {
  padding: 10px;
  margin: 0 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0061f2;
  color: white;
}

a {
  text-decoration: none; /* 링크 스타일 제거 */
}

a button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

a button:hover {
  background-color: #0061f2;
  color: white;
}
